body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

.box {
    background: white;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.input-group {
    display: flex;
    margin-top: 10px;
}

.input-group input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.input-group button {
    padding: 8px 12px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

ul {
    padding: 0;
}

li {
    text-align: left;
    margin-top: 10px;
    background: #eee;
    padding: 8px;
    border-radius: 5px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 3px;
}